/* carrito */

.carritoContainer {
    @include flex(inherit, center);
    flex-direction: column;
    padding: 20px;
    width: 95%;
    margin: 0px auto 0px auto;
    @extend %contenedorNegro;

    .campos {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 7px;

        label {
            color: $colorBlanco;
            font-size: 20px;
            padding: 6px;
            text-align: center;
        }

        .agg {
            font-size: 20px;
            padding: 4px;
            background-color: $colorBlanco;
            color: $colorNegro;
            border: solid 2px $colorSecundario;
            border-radius: 8px;
            text-align: center;
            width: 100%;
        }

        #response {
            color: $colorGris;
            font-size: small;
            text-align: center;
        }
    }

    .error {
        color: $colorSecundario;
        font-size: larger;
        font-weight: bold;
        text-align: center;
    }

    .exito {
        color: map-get($coloresRedes, whatsApp);
        font-size: larger;
        font-weight: bold;
        text-align: center;
    }

    .containerBotones {
        @include flex(space-evenly, center);
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;

        .botones {
            height: 40px;
            margin: 10px 0 10px 0;
            width: 35%;
            @extend %botones;
        }

        #btnComprar {
            height: 50px;
            margin: 25px 0 15px 0;
            width: 60%;
            @extend %botones;
        }
    }
}

#closeCart {
    height: 30px;
    margin: 20px 30% 15px 30%;
    width: 40%;
    text-align: center;
    @extend %botones;
}

body {
    overflow: hidden;
    overflow-y: scroll;

    -webkit-transition: all 0.333s linear;
    -moz-transition: all 0.333s linear;
    -o-transition: all 0.333s linear;
    transition: all 0.333s linear;
}

/*body.view-cart .cart-wrapper,*/
body.view-cart {
    transform: translate(-30%);

    -webkit-transition: all 0.333s linear;
    -moz-transition: all 0.333s linear;
    -o-transition: all 0.333s linear;
    transition: all 0.333s linear;
}

.cart-wrapper {
    position: absolute;
    right: -30%;
    height: 100%;
    background-color: $colorGris;
    // background: linear-gradient(top, $colorGris, $colorNegro);
    width: 30%;

    -webkit-transition: all 0.333s linear;
    -moz-transition: all 0.333s linear;
    -o-transition: all 0.333s linear;
    transition: all 0.333s linear;

    .parrafoDescriptivoPadding {
        padding-top: 48px;
    }
}

.cerrarTerminos {
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        color: $colorSecundario;
    }
}