/* footer */

footer {
    grid-area: footer;
    background-color: $colorNegroHF;
    background: $fondoNegro;
    width: 100%;
    margin-top: 70px;
}

.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 11px;
    right: 19px;
    background: map-get($coloresRedes, whatsApp);
    color: $colorBlanco;
    text-align: center;
    font-size: 35px;
    z-index: 100;
    transition: all 300ms ease;
    @extend %redesDet;

    &:hover {
        background: #20ba5a;
    }
}

.txtFooter {
    padding: 30px;
    color: $colorSecundario;
}

.negrita {
    font-weight: bold;
}

.linkCoder {
    color: $colorSecundario;
}