/* header */

header {
    grid-area: header;
    background: linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(20, 20, 20, 0.9));
    // background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    width: 100%;
    padding: 12px;
    position: sticky;
    z-index: 1;
}

nav {
    padding: 0 12% 0 12%;
    align-items: center;

    ul {
        @include flex(inherit, center);
        flex-direction: row;
        flex-wrap: nowrap;

        li {
            a {
                color: $colorBlanco !important;
                font-size: larger;
                // font-weight: bold; /* solo el activo */
                text-transform: uppercase;
            }
            .pagActiva{
                font-weight: bolder;
            }
        }
    }
}

#botonNavbar {
    color: $colorSecundario;
    border: solid $colorSecundario;
    background-color: $colorBlanco;
}

.logo {
    height: 75px;
    width: 75px;

    &:hover {
        transform: scale(1.1);
    }
}

.refLogo {
    border: none;
    background-color: transparent;
}