/* media querys */

@media screen and (max-width: 1024px) {
    #peliculasContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    div {
        h1 {
            font-size: 30px !important;
            padding: 6px;
            margin: 17px auto 11px auto !important;
        }
    }

    main {
        margin-left: 5% !important;
        margin-right: 5% !important;

        h1 {
            font-size: 30px !important;
            padding: 6px;
            margin: 17px auto 11px auto !important;
        }

        .subtituloInicio {
            font-size: 26px;
        }
    }

    nav {
        ul {
            padding: 4px 0 4px 0;
        }
    }

    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }

    .logo {
        height: 60px;
        width: 60px;
    }

    #peliculasContainer {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        margin-top: 77px;
    }
}

@media screen and (max-width: 480px) {
    main {
        .subtituloInicio {
            font-size: 23px;
        }
    }

    #peliculasContainer {
        grid-template-columns: 1fr;
    }

    .btn-wsp {
        height: 50px;
        width: 50px;
        line-height: 53px;
    }
}