/* globales */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Google Fonts*/

// :root{
//     --primario: #B81D24;
//     --secundario: #E50914;
//     --blanco: #F5F5F1;
//     --negrohf: #221F1F;
//     --negro: #000;
// }

$colorPrimario: #cb3234;        /* no lo uso */
$colorSecundario: #b9090b;
$colorBlanco: #e5e5e5;
$colorNegroHF: #141414;
$colorNegro: #000;
$colorGris: rgb(109, 109, 110);

$boxShadowClara: 1px 1px 3px 2px $colorNegroHF;
$boxShadowOscura: 0px 10px 10px rgba(0, 0, 0, 0.8);
$boxShadowBlanca: 0px 1px 4px $colorBlanco;

$fondoNegro: linear-gradient(top, $colorNegroHF, $colorNegro);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    // background-color: $colorPrimario;
    background-color: $colorNegroHF;
    line-height: inherit;
    color: inherit;

    .containercss {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header"
            "main"
            "footer";

        main {
            grid-area: main;
            margin-left: 10%;
            margin-right: 10%;

            h1 {
                width: 230px;
                margin: 23px auto 20px auto;
                color: $colorSecundario;
                text-transform: uppercase;
                font-size: 35px;
                letter-spacing: 6px;
                text-shadow: 0em 0.15em 0.15em $colorNegro;
                text-align: center;
                &:hover{
                    text-shadow: 0em 0.07em 0.07em $colorBlanco;
                }
            }

            // .parpadea {
            //     animation-name: parpadeo;
            //     animation-duration: 3.5s;
            //     animation-timing-function: linear;
            //     animation-iteration-count: infinite;

            //     -webkit-animation-name: parpadeo;
            //     -webkit-animation-duration: 3.5s;
            //     -webkit-animation-timing-function: linear;
            //     -webkit-animation-iteration-count: infinite;
            // }

            // @-moz-keyframes parpadeo {
            //     0% {
            //         opacity: 1.0;
            //     }

            //     50% {
            //         opacity: 0.0;
            //     }

            //     100% {
            //         opacity: 1.0;
            //     }
            // }

            // @-webkit-keyframes parpadeo {
            //     0% {
            //         opacity: 1.0;
            //     }

            //     50% {
            //         opacity: 0.0;
            //     }

            //     100% {
            //         opacity: 1.0;
            //     }
            // }

            // @keyframes parpadeo {
            //     0% {
            //         opacity: 1.0;
            //     }

            //     50% {
            //         opacity: 0.0;
            //     }

            //     100% {
            //         opacity: 1.0;
            //     }
            // }

            .parrafoDescriptivo {
                color: $colorBlanco;
                text-align: center;
                padding: 8px;
                font-size: large;
                margin-bottom: 13px;
                margin-left: 10%;
                margin-right: 10%;
            }
        }
    }
}

h3 {
    font-size: inherit;
    font-weight: bold;
}

ul {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;

    &:hover {
        color: $colorSecundario !important;
    }
}

.fgrow {
    flex-grow: 0;
}